.container.signup{
    width: 500px;
    height: auto;
    margin-top: 20px;    
    padding: 10px;
}

.container.signin{
    width: 500px;
    height: auto;
    margin-top: 50px;
    padding: 10px;
}

.signin input{
    align-items: center;
    display: block;
    margin: 15px;
    width: 250px;
    height: 50px;
    border: 4px;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
}
.signin{
    align-items: center;
    background-color: dimgrey;
}
.signin form{
    padding-top: 50px;
    padding-left: 80px;
    border: 4px;  
}
.signin input:hover{
    width: 260px;
    height: 40px;
    border: 4px;
    border-radius: 5px;
}

.signup input{
    align-items: center;
    flex-direction: column;
    margin: 5px;
    width: 200px;
    border: 4px;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
}
.signup{
    width: 700px;
    height: 400px;
    align-items: center;
    background-color: dimgrey;
    overflow-y: scroll;
}
.signup form{
    padding-top: 10px;
    padding-left: 150px;
    border: 4px;  
}
.signup  input:hover{
    width: 230px;
    border: 4px;
    border-radius: 5px;
}
p{
    word-spacing: normal;
}