#surcouche{
display: none;
position: fixed;               
top: 0; right:0; bottom:0; left: 0;
background-color: rgba(255, 255, 255, 0.7);
z-index : 1000;
}
#case{
    display : none;
}
#case:checked + #surcouche{
    display: block;
}
label{
    cursor: pointer;
}
.labelButon{
    padding: 5px 10px;
    background-color: #3636A3;
    color : #fff;
    position: relative;
    top: 180px;
    left :220px;
    z-index: 1005;
     
}
#msgbox{
    width: 300px;
    height: 200px;
    padding: 15px;
    position: absolute;
    top: 25%;
    left: 34%;
    background-color: white;
    border: 10px solid #aaa;
}